:root {
  --transition: all 300ms ease-in-out;
}

body {
  background-color: #000;
}
.narrowed {
  transform: scale(0);
  transition: var(--transition);
  position: absolute;
}
.narrowed h2 {
  font-size: 16px;
  margin-bottom: 0;
  margin-bottom: 0;
}
.narrowed p {
  color: #e8bf57;
  font-size: 14px;
}
.scrolled .narrowed {
  transform: scale(1);
  position: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scrolled .hero {
  transform: scale(0);
  position: absolute;
  z-index: -1;
}
.scrolled .categories-wrapper {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-block: 10px;
  background-color: #000;
}
.scrolled #myTabContent {
  padding-top: 136px;
}

#myTabContent {
  padding-bottom: 100px;
}

.hero {
  transform: scale(1);
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  text-align: center;
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  );
  transition: var(--transition);
}
.hero-img {
  position: absolute;
  z-index: -1;
  inset: 0;
}
.categories-parent {
  position: relative;
  /* min-height: 90px; */
  transition: var(--transition);
}
.categories-wrapper {
  padding-block: 20px;
  transition: var(--transition);
}
.scrollable-tabs-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-block: 20px;
}

.nav.nav-tabs {
  flex-wrap: nowrap;
  border: none;
}
.nav-tabs .nav-link {
  color: #fff;
  border: none;
  border-radius: 10px !important;
  padding: 5px 20px;
}
.nav-tabs .nav-link.active {
  background: #e8bf57;
  color: #fff;
}
.food-item {
  background: #fff;
  padding: 6px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
.food-item-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(153 131 131 / 80%);
  object-fit: cover;
}
.cart-quantity {
  display: inline-block;
  padding: 2px 5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #000;
  position: absolute;
  right: 8px;
  bottom: 8px;
}
.product-modal-trigger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: start;
}
.item-name {
  color: #fff;
  font-size: 16px;
}
.item-price {
  color: #fff;
  opacity: 0.5;
}

.footer {
  background: #9a4418;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.footer .help {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  background: #c78260;
}

.view-order {
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgb(210, 210, 112);
  font-size: 15px;
}
.view-order .cart-item-quantity {
  background-color: #000;
  color: #fff;
  padding-inline: 5px;
}

/* ============== */
/* Product Modal */
/* ============== */

#productModal .food-detail {
  max-width: 400px;
  margin-inline: auto;
  text-align: center;
}
#productModal .food-detail h3 {
  font-size: 18px;
}
#productModal .food-item {
  background-color: #f2f3f9;
  padding: 10px;
}
#productModal .food-item .food-item-img {
  width: 200px;
  height: 200px;
}
#productModal .food-item .price {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
}
#productModal .modal-footer,
#viewOrderModal .modal-footer {
  position: absolute;
  width: 100%;
  bottom: -60px;
  justify-content: center;
}
.options h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.item-counter {
  background-color: lightgray;
  padding: 10px;
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
}
.item-counter button {
  border: none;
  background-color: transparent;
  font: inherit;
}
.add-product-btn {
  border: none;
  background: rgb(210, 210, 112);
  display: flex;
  padding: 10px;
  gap: 40px;
  border-radius: 15px;
  align-items: center;
}
#viewOrderModal .order-list {
  border-bottom: 1px dashed lightgray;
  /* padding-right: 40px; */
}
#viewOrderModal .order-list .order-list-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
#viewOrderModal .order-list .order-list-item h2 {
  margin-left: auto;
}
#viewOrderModal .order-list .order-list-item h2,
#viewOrderModal .order-list .order-list-item h3 {
  font-size: 16px;
}
#viewOrderModal .order-list .order-list-item p {
  font-size: 12px;
}
#viewOrderModal .order-list .order-list-item .quantity {
  opacity: 0.9;
}
#viewOrderModal .order-list .order-list-item .list-img {
  max-width: 80px;
  background-color: lightgray;
  position: relative;
}
/* #productModal .modal-content,
#viewOrderModal .modal-content {
  max-height: 85vh;
} */
#productModal .modal-body .options {
  padding-right: 16px;
}
#productModal .modal-body .options,
#viewOrderModal .order-list {
  max-height: 165px;
  overflow: auto;
}
.carousel-control-next-icon {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23000"%3e%3cpath d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" /%3e%3c/svg%3e');
}
.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23000"%3e%3cpath d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" /%3e%3c/svg%3e');
}

@media only screen and (min-width: 576px) {
  #productModal .modal-body .options,
  #viewOrderModal .order-list {
    max-height: 400px;
  }
}
@media only screen and (min-width: 768px) {
  #productModal .modal-body .options,
  #viewOrderModal .order-list {
    max-height: 300px;
  }
}
@media only screen and (min-width: 992px) {
  #productModal .modal-body .options,
  #viewOrderModal .order-list {
    max-height: max-content;
  }
}

.swiper {
  width: 100%;
  height: 300px;
}
